<header>
	<div class="container-header">
		<div class="top-header">
			<img src="/images/logo-mercado-liebre.svg" alt="mercadolivre" />

			<div class="search-bar">
				<input type="text" placeholder="buscar productos, marcas" />
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
		</div>

		<div class="compracuotas">
			<i class="fa-solid fa-hand-holding-dollar"></i>
			<p>compra en coutas y sin tarjeta de credito</p>
		</div>
	</div>

	<div class="navbar">
		<ul>
			<li><a href="https://www.google.com.ar">ofertas</a></li>
			<li>
				<a href="https://www.google.com.ar">tiendas oficiales</a>
			</li>
			<li><a href="https://www.google.com.ar">vender</a></li>
			<li><a href="https://www.google.com.ar">ayuda</a></li>
		</ul>
		<ul>
			<li>
				<a href="register">Crea tu cuenta</a>
				<i class="fa-regular fa-address-card"></i>
			</li>
			<li>
				<a href="login">Ingresa</a>
				<i class="fa-solid fa-right-to-bracket"></i>
			</li>
			<li>
				<a href="https://www.google.com.ar">Mis compras</a>
				<i class="fa-solid fa-basket-shopping"></i>
			</li>
		</ul>
	</div>
	<div class="barramenu"><i class="fa-solid fa-bars"></i></div>
</header>
