<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/login.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<header><%- include ('../partials/header') %></header>

	<body>
		<div class="main-login">
			<input type="checkbox" id="chk" aria-hidden="true" />
			<div class="signup">
				<form method="POST" action="/login">
					<label for="chk" aria-hidden="true">Iniciar sesion</label>
					<input
						type="email"
						name="email"
						id="email-login"
						placeholder="Tu correo electrónico"
						required
					/>
					<input
						type="password"
						name="password"
						id="password-login"
						placeholder="Escribe tu contraseña"
						required
					/>
					<button>Ingresar</button>
				</form>
			</div>
		</div>
	</body>

	<footer><%- include ('../partials/footer') %></footer>

	<script
		src="https://kit.fontawesome.com/4fed1f4ea0.js"
		crossorigin="anonymous"
	></script>
</html>
