<!DOCTYPE html>
<html lang="en">
	<head>
		<head>
			<%- include('../partials/head') %>
			<link rel="stylesheet" href="/css/styles.css" />
		</head>
        <header><%- include ('../partials/header') %></header>
	
	<body>
		<h1>Bienvenido <%= nuevoUsuario %> a MercadoLiebre</h1>
		<br />
		<h3>
			Ya sos miembro de Mercadoliebre, accede a beneficios especiales,
			descuentos y mucho mas
		</h3>
	</body>
    <footer><%- include ('../partials/footer') %></footer>
</html>
