<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head') %>
		<link href="/css/register.css" rel="stylesheet" />
		<link href="/css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<%- include ('../partials/header') %>
		<div class="container-register">
			<form action="#">
				<div class="container-form">
					<input type="text" placeholder="Nombre y apellido" />

					<input type="text" placeholder="nombre de usuario" />

					<input type="text" placeholder="E-mail" />

					<label for="fecha_nacimiento">Fecha de Nacimiento:</label>
					<input
						type="date"
						id="fecha_nacimiento"
						name="fecha_nacimiento"
					/>

					<input type="text" placeholder="Domicilio" />

					<h3>Categorías de Interés:</h3>

					<div class="sellect">
						<label for="electro">Electro </label>
						<input
							type="checkbox"
							id="electro"
							name="categorias"
							value="electro"
						/>
					</div>
					<div class="sellect">
						<label for="electro">Jugueteria </label>
						<input
							type="checkbox"
							id="electro"
							name="categorias"
							value="electro"
						/>
					</div>
					<div class="sellect">
						<label for="electro">Moda </label>
						<input
							type="checkbox"
							id="electro"
							name="categorias"
							value="electro"
						/>
					</div>
					<div class="sellect">
						<label for="electro">Higiene </label>
						<input
							type="checkbox"
							id="electro"
							name="categorias"
							value="electro"
						/>
					</div>
					<div class="button-register">
						<button type="submit">Registrarse</button>
					</div>
				</div>
				<button type="reset">Borrar datos</button>
			</form>
		</div>
		<%- include ('../partials/footer') %>
		<script
			src="https://kit.fontawesome.com/4fed1f4ea0.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
